<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8" />
  <title>Hotel</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/cal-heatmap.css">
  <link rel="stylesheet" href="/stylesheets/popup.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>

<body>
  <div class="container">
  <br><br><br><br><br><br>
  <h3> PCR Machine </h3>

  <a href="http://localhost:3000/cal0?pw=500&amp;ph=500" class="popup_gallery"><img src="/images/PCR_48.png" id="calendar0" style="width:80px;height:53px;border:5px solid green;position:absolute;"></a>

  <a href="http://localhost:3000/cal1?pw=500&amp;ph=500" class="popup_gallery"><img src="/images/PCR_48.png" id="calendar1" style="width:80px;height:53px;border:5px solid green;position:absolute;margin-top:67px;"></a>

  <a href="http://localhost:3000/cal2?pw=500&amp;ph=500" class="popup_gallery"><img src="/images/PCR_96.png" id="calendar2" style="width:80px;height:120px;border:5px solid green;position:absolute;margin-top:145px"></a>

  <a href="http://localhost:3000/cal3?pw=500&amp;ph=500" class="popup_gallery"><img src="/images/PCR_48.png" id="calendar3" style="width:80px;height:53px;border:5px solid green;position:absolute;margin-left:100px;"></a>

  <a href="http://localhost:3000/cal4?pw=500&amp;ph=500" class="popup_gallery"><img src="/images/PCR_48.png" id="calendar4" style="width:80px;height:53px;border:5px solid green;position:absolute;margin-left:100px;margin-top:67px"></a>

  <a href="http://localhost:3000/cal5?pw=500&amp;ph=500" class="popup_gallery"><img src="/images/PCR_96.png" id="calendar5" style="width:80px;height:120px;border:5px solid green;position:absolute;margin-left:100px;margin-top:145px;"></a>

  <a href="http://localhost:3000/cal6?pw=500&amp;ph=500" class="popup_gallery"><img src="/images/PCR_96.png" id="calendar6" style="width:80px;height:120px;border:5px solid green;position:absolute;margin-left:250px;"></a>

  <a href="http://localhost:3000/cal7?pw=500&amp;ph=500" class="popup_gallery"><img src="/images/PCR_48.png" id="calendar7" style="width:80px;height:53px;border:5px solid green;position:absolute;margin-left:250px;margin-top:145px;"></a>

  <a href="http://localhost:3000/cal8?pw=500&amp;ph=500" class="popup_gallery"><img src="/images/PCR_48.png" id="calendar8" style="width:80px;height:53px;border:5px solid green;position:absolute;margin-left:250px;margin-top:212px;"></a>

  <a href="http://localhost:3000/cal9?pw=500&amp;ph=500" class="popup_gallery"><img src="/images/PCR_48.png" id="calendar9" style="width:80px;height:53px;border:5px solid green;position:absolute;margin-left:350px"></a>

  <a href="http://localhost:3000/cal10?pw=500&amp;ph=500" class="popup_gallery"><img src="/images/PCR_48.png" id="calendar10" style="width:80px;height:53px;border:5px solid green;position:absolute;margin-left:350px;margin-top:67px;"></a>

  <a href="http://localhost:3000/cal11?pw=500&amp;ph=500" class="popup_gallery"><img src="/images/PCR_96.png" id="calendar11" style="width:80px;height:120px;border:5px solid green;position:absolute;margin-left:350px;margin-top:145px;"></a>



  </div>
  <script src="/javascripts/jquery.popup.min.js"></script>
  <script src="/javascripts/mypopups.js"></script>
  <script src="/javascripts/index.js"></script>
</body>
</html>