<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8" />
  <title>Hotel</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/cal-heatmap.css">
  <link rel="stylesheet" href="/stylesheets/popup.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>


<body>
  <div class="container">
  <br><br><br><br><br><br>
  <h3> PCR Machine </h3>
  <a href="http://localhost:3000/cal0?pw=500&amp;ph=500" class="popup_gallery">PCR Block 0</a><br>
  <a href="http://localhost:3000/cal1?pw=500&amp;ph=500" class="popup_gallery">PCR Block 1</a><br>
<!--   <a href="http://localhost:3000/cal2?pw=500&amp;ph=300" class="popup_gallery">PCR Block 2</a><br>
  <a href="http://localhost:3000/cal3?pw=500&amp;ph=300" class="popup_gallery">PCR Block 3</a><br>
  <a href="http://localhost:3000/cal4?pw=500&amp;ph=300" class="popup_gallery">PCR Block 4</a><br>
  <a href="http://localhost:3000/cal5?pw=500&amp;ph=300" class="popup_gallery">PCR Block 5</a><br>
  <a href="http://localhost:3000/cal6?pw=500&amp;ph=300" class="popup_gallery">PCR Block 6</a><br>
  <a href="http://localhost:3000/cal7?pw=500&amp;ph=300" class="popup_gallery">PCR Block 7</a><br>
  <a href="http://localhost:3000/cal8?pw=500&amp;ph=300" class="popup_gallery">PCR Block 8</a><br>
  <a href="http://localhost:3000/cal9?pw=500&amp;ph=300" class="popup_gallery">PCR Block 9</a><br>
  <a href="http://localhost:3000/cal10?pw=500&amp;ph=300" class="popup_gallery">PCR Block 10</a><br>
  <a href="http://localhost:3000/cal11?pw=500&amp;ph=300" class="popup_gallery">PCR Block 11</a><br> -->

<!--   <a href="http://www.reinventingorganizations.com/" class="popup_gallery">link1</a><br>
  <a href="http://httplambda.com/a-restful-app-with-the-mean-stack-and-google-maps-api-v3-part-1/" class="popup_gallery">link2</a><br>
 -->
  </div>
  <script src="/javascripts/jquery.popup.min.js"></script>
  <script src="/javascripts/mypopups.js"></script>
</body>
</html>